{% extends 'base.html' %}


{% block title%}
Dashboard
{% endblock title%}



{% block content%}

{% if user.is_authenticated %}
    <style>
        :root {
            --default-bg: #eeeeee;
            --red: #ffd8d8;
            --orange: #ffe4bb;
            --yellow: #f8f7d4;
            --green: #d9ffd4;
            --mint: #dbffea;
            --turquoise: #d7fefe;
            --blue: #daeaff;
            --purple: #dfd6ff;
            --lavendar: #f6d7ff;
            --pink: #ffd4ef;
        }
        .classes-container {
            display:flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        .class-block {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: 15px;
            width: 250px;
            height: 250px;
            border: solid black 1px;
            border-radius: 25px;
            background-color: var(--default-bg);
        }

        .edit-block {
            border: dashed black 1px;
        }

        .add {
            background-color: var(--green);
        }

        .remove {
            background-color: var(--red);
        }
    </style>
    
    <body>
        <div class="classes-container">
            <div class="class-block">
                <h1><i class="fas fa-plane"></i></h1>
                <h3>Hello</h3>
            </div>
            <div class="class-block">
                <h1><i class="fas fa-plane"></i></h1>
                <h3>Goodbye</h3>
            </div>
        </div>
    </body>

    <!-- ONLY TEACHER CAN SEE THE FOLLOWING BLOCKS -->
    <div class="classes-container">
        <div class="class-block edit-block add">
            <h1><i class="fas fa-plus-circle"></i></class>
            <h3>Create a Class</h3>
        </div>

        <div class="class-block edit-block remove">
            <h1><i class="fas fa-minus-circle"></i></class>
            <h3>Remove a Class</h3>
        </div>
    </div>

{% else %}
    <meta http-equiv="Refresh" content="0; url='/login'" />
{% endif %}

{% endblock content%}