{% extends 'base.html' %}


{% block title%}
Dashboard
{% endblock title%}



{% block content%}

{% if user.is_authenticated %}
    <style>
        :root {
            --default-bg: #eeeeee;
            --red: #ffd8d8;
            --orange: #ffe4bb;
            --yellow: #f8f7d4;
            --green: #d9ffd4;
            --mint: #dbffea;
            --turquoise: #d7fefe;
            --blue: #daeaff;
            --purple: #dfd6ff;
            --lavendar: #f6d7ff;
            --pink: #ffd4ef;
        }
        .classes-container {
            display:flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        .block {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: 15px;
            width: 250px;
            height: 250px;
            border: solid black 1px;
            border-radius: 25px;
            background-color: var(--default-bg);
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-family: Open Sans;
        }

        .block h3 {
            text-align: center;
        }

        .red {
            background-color: var(--red);
        }

        .orange {
            background-color: var(--orange);
        }

        .yellow {
            background-color: var(--yellow);
        }

        .green {
            background-color: var(--green);
        }

        .mint {
            backgroud-color: var(--mint);
        }

        .turquoise {
            background-color: var(--turquoise);
        }

        .blue {
            background-color: var(--blue);
        }

        .purple {
            background-color: var(--purple);
        }

        .lavendar {
            background-color: var(--lavendar);
        }

        .pink {
            background-color: var(--pink);
        }

        a {
            text-decoration: none;
        }

        .edit {
            border: dashed black 1px;
        }

        .content-container {
            width: 100%;
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
        }

        .form-container {
            width: 500px;
            border: solid black 1px;
            padding: 30px;
            border-radius: 15px;
            background-color: white;
        }
    </style>
    
    <body>
        <div class="classes-container">
            {% for x in classList %}
                <a href="class/{{x.1}}/">
                    <div class="block {{x.3}}">
                        <h1><i class="{{x.2}}"></i></h1>
                        <h3>{{ x.0 }}</h3>
                        <h6>{{ x.4 }}</h6>
                    </div>
                </a>
            {% endfor%}
        </div>



        <hr>
        {% if user.profile.teacher == True %}
        <!-- ONLY TEACHER CAN SEE THE FOLLOWING BLOCKS -->




        <div class="classes-container">
            <a data-bs-toggle="modal" data-bs-target="#createClass">
                <div class="block edit green">
                    <h1><i class="fas fa-plus-circle"></i></class>
                    <h3>Create a Class</h3>
                </div>
            </a>
            <a data-bs-toggle="modal" data-bs-target="#removeClass">
                <div class="block edit red">
                    <h1><i class="fas fa-minus-circle"></i></class>
                    <h3>Remove a Class</h3>
                </div>
            </a>
        </div>

        <!-- Remove Class -->
        <div class="modal fade" id="removeClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove a Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <form action='/dashboard' method='POST'>{% csrf_token %}



                    <div class="mb-3">
                        <label for="classIcon" class="form-label">Class to Remove</label>
                        <select id="classIcon" name="rc_class" class="form-select" required>
                            <option selected disabled="disabled" value="">– Select Class to Remove –</option>
                            {% for i in classList %}
                                <option value={{i.1}}>{{i.0}} - {{i.1}}</option>
                            {% endfor %}
                        </select>
                    </div>




                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Remove Class</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>

        <!-- Create Class -->
        <div class="modal fade" id="createClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">




                <form action='/dashboard' name="create" method='POST'>{% csrf_token %}




                    <div class="mb-3">
                        <label for="className" class="form-label">Class Name</label>
                        <input type="text" name="cc_className" class="form-control" id="className" required>
                    </div>

                    <div class="mb-3">
                        <label for="className" class="form-label">Short Description</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="i.e. Period, Room #, etc.">
                    </div>
                    <div class="mb-3">
                        <label for="classColor" class="form-label">Class Color</label>
                        <select id="classColor" name="classcolor" class="form-select" required>
                            <option selected value="gray">Gray</option>
                            <option value="red">Red</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                            <option value="green">Green</option>
                            <option value="mint">Mint</option>
                            <option value="turquoise">Turquoise</option>
                            <option value="blue">Blue</option>
                            <option value="purple">Purple</option>
                            <option value="lavendar">Lavendar</option>
                            <option value="pink">Pink</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="classIcon" class="form-label">Subject</label>
                        <select id="classIcon" name="subject" class="form-select" required>
                            <option selected disabled="disabled" value="">– Select Subject –</option>
                            <option value="fas fa-paint-brush">Art</option>
                            <option value="fas fa-briefcase">Business</option>
                            <option value="fas fa-laptop-code">Computer Science</option>
                            <option value="fas fa-theater-masks">Drama</option>
                            <option value="fas fa-car-side">Driver's Ed</option>
                            <option value="fas fa-cogs">Engineering</option>
                            <option value="fas fa-book">English/Literature/Language Arts</option>
                            <option value="fas fa-heartbeat">Health</option>
                            <option value="fas fa-landmark">History/Social Studies</option>
                            <option value="fas fa-calculator">Math</option>
                            <option value="fas fa-music">Music/Band</option>
                            <option value="fas fa-football-ball">Physical Education</option>
                            <option value="fas fa-dna">Science (Biology)</option>
                            <option value="fas fa-flask">Science (Chemistry)</option>
                            <option value="fas fa-atom">Science (Physics)</option>
                            <option value="fas fa-microscope">Science (Generic)</option>
                            <option value="fas fa-cross">Theology</option>
                            <option value="fas fa-flag">World Language</option>
                            <option value="fab fa-octopus-deploy">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="number" name="year" class="form-control" id="year" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Create Class</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        {% elif user.profile.teacher == False %}   
        <!-- ONLY STUDENT CAN SEE BELOW BLOCK -->

        <div class="classes-container">
            <a data-bs-toggle="modal" data-bs-target="#joinClass">
                <div class="block edit blue">
                    <h1><i class="fas fa-search"></i></class>
                    <h3>Join a Class</h3>
                </div>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="joinClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Join a Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                {% if classFail == True %}
                    <div class="alert alert-danger" role="alert">
                    That class only exists in a parallel universe. Try a real one next time you special child:)
                </div>
            {% endif %}
                <form action='/dashboard' method='POST'>{% csrf_token %}




                    <div class="mb-3">
                        <label for="classCode" class="form-label">Enter Class Code</label>
                        <input type="text" name="jc_classCode" class="form-control" id="classCode" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Join Class</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        {% endif %}

        <script>
            var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')

            myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
            })
        </script>
    </body>

{% else %}
    <meta http-equiv="Refresh" content="0; url='/login'" />
{% endif %}
    
{% endblock content%}