{% extends 'base.html' %}


{% block title%}
Login
{% endblock title%}

{% block content%}


<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="https://docs.google.com/forms/d/e/1FAIpQLScrpnvvLNJlUWM35sBFaro73WUDdtQUN8bMbaoWVt3Px_PoPg/viewform?usp=sf_link">Bug Report</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="">Suggustian</a>
    <a>You an also send an email to anonypous.superuser@gmail.com for an suggustions or bug fixes </a>
  </li>
  <li><a>You an also send an email to anonypous.superuser@gmail.com for an suggustions or bug fixes </a></li>
</body>


{% endblock content%}