{% extends 'base.html' %}


{% block title%}
Login
{% endblock title%}

{% block content%}
{% if user.is_authenticated %}
<meta http-equiv="Refresh" content="0; url='/dashboard'" />
{% else %}
<style>
    body {
        background-color: #ddd;
    }

    .content-container {
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .form-container {
        width: 500px;
        border: solid black 1px;
        padding: 30px;
        border-radius: 15px;
        background-color: white;
    }
</style>

<body>
    <div class="content-container d-flex justify-content-center align-items-center">
        <div class="form-container">
            <form action='/login' method='POST'>{% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Sign In</button>
            </div>
            </form>
            <hr>
            <a href="register"><button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Register</button></a>
        </div>
    </div>
</body>
{% endif %}

{% endblock content%}