{% extends 'base.html' %}


{% block title%}
Logout
{% endblock title%}



{% block content%}



<div class="container">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
    </form>
   
</div>


<p> Bio : {{ user.dashboard.bio }}{{ user.student.bio }}{{ user.teacher.bio }}</p><br>
<p> Avatar : {{ user.profile.avatar }}{{ user.student.avatar }}{{ user.teacher.avatar }}</p><br>
<p> Updated : {{ user.profile.updated }}{{ user.student.updated }}{{ user.teacher.updated }}</p><br>
<p> Created : {{ user.profile.created }}{{ user.student.created }}{{ user.teacher.created }}</p><br>
<a href="/dashboard">Dashboard</a><br>
<a href="/login">Login</a><br>
<a href="/logout">Logout</a><br>
<a href="/register">Register</a><br>
<a href="/createuser">Create User</a><br><br>

<a href="/">Redirect</a><br>
{% endblock content%}