{% extends 'base.html' %}


{% block title%}
Login
{% endblock title%}



{% block content%}

<style>
    body {
        background-color: pink;
    }

    .content-container {
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .form-container {
        width: 500px;
        border: solid black 1px;
        padding: 30px;
        border-radius: 15px;
        background-color: white;
    }

    .error_message {
        width: 100%;
    }
</style>

<body>

    <div class="content-container d-flex justify-content-center align-items-center">
        <div class="form-container">
            <form action='/register' method='POST'>{% csrf_token %}
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first" id="firstName" aria-describedby="fnameHelp" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last" id="lastName" aria-describedby="lnameHelp" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
            </div>
            {% if error7 == True%}
                <div class="alert alert-danger" role="alert">
                    <strong>Holy guacamole!</strong> That email is so great somebody else already used it.
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="confirmEmail" class="form-label">Confirm Email</label>
                <input type="email" class="form-control" name="email2" id="confirmEmail" aria-describedby="confemailHelp" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" required>
                <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                <div id="passwordHelp" class="form-text">Must contain at least 8 characters, a capital letter, a number, and a drop of human blood.</div>
            </div>
            {% if error4 == True%}
                <div class="alert alert-danger" role="alert">
                    <strong>Hold on a second!</strong> You need a number in your password, silly.
                </div>
            {% endif %}
            {% if error5 == True%}
                <div class="alert alert-danger" role="alert">
                    <strong>Hold your horses!</strong> Make sure you have a capital letter in that password, and don't forget the drop of human blood.
                </div>
            {% endif %}
            {% if error6 == True%}
                <div class="alert alert-danger" role="alert">
                    <strong>Yeah... no</strong> You're going to need to have 8 characters in that password if you want the access.
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" id="confirmPassword" required>
    
            </div>
            {% if  error1  == True%}
                <div class="alert alert-danger" role="alert">
                    <strong>Hey buster!</strong> You should make sure those passwords match.
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="roleSelect" class="form-label">Role</label>
                <select id="roleSelect" class="form-select" required>
                    <option selected disabled="disabled" value="">– Select Role –</option>
                    <option value="1">Teacher</option>
                    <option value="0">Student</option>
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" style="width:100%;border-radius:25px">Register</button>
            </div>
            </form>
            <hr>
            <button type="submit" class="btn btn-danger" style="width:100%;border-radius:25px" disabled>Sign up with Google</button>
        </div>
    </div>
</body>

{% endblock content%}

<script scr="{% static '/js/script.js'%}" type>