{% extends 'base.html' %}


{% block title%}
Student
{% endblock title%}



{% block content%}


<br>
<br>
<br>
<br>
<div class="container">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Register</button>
    </form>

</div>
<br>
<br>
<br>
<br>


<p> User : {{ user.username }}</p><br>
<p> Bio : {{ user.profile.bio }}{{ user.student.bio }}{{ user.teacher.bio }}</p><br>
<p> Avatar : {{ user.profile.avatar }}{{ user.student.avatar }}{{ user.teacher.avatar }}</p><br>
<p> Updated : {{ user.profile.updated }}{{ user.student.updated }}{{ user.teacher.updated }}</p><br>
<p> Created : {{ user.profile.created }}{{ user.student.created }}{{ user.teacher.created }}</p><br>
<a href="/app/dashboard">Dashboard</a><br>
<a href="/app/login">Login</a><br>
<a href="/app/logout">Logout</a><br>
<a href="/app/register">Register</a><br>
<a href="/app/createuser">Create User</a><br><br>

<a href="/">Redirect</a><br>

{% endblock content%}