{% extends 'base.html' %}


{% block title%}
Root
{% endblock title%}



{% block content%}

<style>
    body {
        
    }

    .container {
        display: flex;
        flex-direction: row;
        height: 75vh;
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        .container {
            flex-direction: column;
        }

        .submission-block {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2.5vh;
        }
    }

    .grade-block {
        display: flex;
        min-width: 300px;
    }

    .grade-field {
        min-width: 250px;
    }

    .submission-block {
        display: flex;
        min-width: 300px;
        width: 75vw;
        margin-right: 2.5vw;
        height: 
    }
</style>

{% if user.is_authenticated %}
    {% if user.profile.teacher == True %}
        <body>
            <div class="container">
                <form class="submission-block">
                    <textarea class="form-control" style="min-height:250px;cursor:not-allowed" disabled>{{assignmentText}}</textarea>
                
                
                </form>
                    <div class="card grade-block">
                        <div class="card-body">
                            <h5 class="card-title">{{docCode}}</h5>
                            <p class="card-body">{{ subDate }}</p>
                            <p class="card-body">Out of {{ pointValue }} points</p>
                            <p class="card-body">{{ instructions }}</p>

                           <form action='' method='POST'>{% csrf_token %}
                                <div class="mb-3">
                                    <textarea class="form-control grade-field" name='feedback' placeholder="Assignment Feedback" style="min-height:100px;">{{feedback}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <input type="number" name='score' class="form-control grade-field" value={{score}} required>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" name='save' class="btn btn-primary" style="width:250px;">Save Grade</button>
                                </div>
                            </form>



                        </div>
                </div>
            </div>
        </body>
    {% else %}
        <meta http-equiv="Refresh" content="0; url='/assignment'" />
    {% endif %}
{% else %}
    <meta http-equiv="Refresh" content="0; url='/login'" />
{% endif %}
{% endblock content%}