{% extends 'base.html' %}


{% block title%}
Dashboard
{% endblock title%}



{% block content%}

<br>
<br>
<br>
<br>

<form action='/login' method='POST'>{% csrf_token %}
    <input type='text' name='username' placeholder="Username"/><br>
    <input type='text' name='password' placeholder="Password"/><br><br>
    <input type='submit' value='Login'/>
</form>


<br>
<br>

{% if user.is_authenticated %}
        <p> User : {{ user.username }}</p><br>
        <p> Bio : {{ user.profile.bio }}{{ user.student.bio }}{{ user.teacher.bio }}</p><br>
        <p> Avatar : </p><img src="{{MEDIA_URL}}{{user.profile.avatar}}"></img>
        <p> Updated : {{ user.profile.updated }}{{ user.student.updated }}{{ user.teacher.updated }}</p><br>
        <p> Created : {{ user.profile.created }}{{ user.student.created }}{{ user.teacher.created }}</p><br>
{% else %}
    <br><br>
{% endif %}

login...

{% endblock content%}